{% extends 'calculator/base.html' %}
{% load static %}

<!--
In: gamma, mach, beta
Out: theta, M2, P2/P1, T2/T1, rho2/rho1, Po1/Po2, Po2/P1
-->

{% block scripts %}

    <script src="{% static 'calculator/js/calcs.js' %}" defer></script>
    <script src="{% static 'calculator/js/oblique.js' %}" defer></script>

{% endblock %}

{% block body %}

<main class="container">

    <h1>Oblique Shocks</h1>

    <!--The grid containing the input parameter fields-->
    <div class="grid">
        
        <!--First Col-->
        <div>
            <!--Gamma input field-->
            <fieldset role="group">
                <div class="box center">
                    
                    <img src="{% static 'calculator/media/gamma_icon.png' %}" alt="gamma" width="65" height="65">
                    <input type="number" onChange="update_gamma(this.value);" value="1.4" />

                </div>
            </fieldset>
        </div>

        <!--Second Col-->
        <div>
            <!--Mach number input field-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/M_icon.png' %}" alt="M" width="65" height="65">
                    <input type="number" onChange="update_mach(this.value);" />

                </div>
            </fieldset>
        </div>

        <!--Third Col-->
        <div>
            <!--Beta input field-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/beta_icon.png' %}" alt="beta" width="65" height="65">
                    <input type="number" onChange="update_beta(this.value);" />

                </div>
            </fieldset>
        </div>

    </div>


    <!--Thw boxes containing the calculated results-->

    <div class="grid">

        <!--First Col-->
        <div>
            <!--Normal pressure ratio-->
            <fieldset role="group">
                <div class="box center">
                    
                    <img src="{% static 'calculator/media/P2_P1_icon.png' %}" alt="P_2/P_1" width="65" height="65">
                    <input type="number" id="P2/P1" readonly />

                </div>
            </fieldset>

            <!--Stagnation pressure ratio-->
            <fieldset role="group">
                <div class="box center">
                    
                    <img src="{% static 'calculator/media/Po2_Po1_icon.png' %}" alt="P_o2/P_o1" width="65" height="65">
                    <input type="number" id="Po2/Po1" readonly />

                </div>
            </fieldset>

            <!--Second Mach number-->
            <fieldset role="group">
                <div class="box center">
                    
                    <img src="{% static 'calculator/media/M2_icon.png' %}" alt="M2" width="65" height="65">
                    <input type="number" id="M2" readonly />

                </div>
            </fieldset>
        </div>

        <!--Second Col-->
        <div>
            <!--Normal temperature ratio-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/T2_T1_icon.png' %}" alt="T2/T1" width="65" height="65">
                    <input type="number" id="T2/T1" readonly />

                </div>
            </fieldset>

            <!--Stagnation to normal pressure ratio-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/Po2_P1_icon.png' %}" alt="Po2/P1" width="65" height="65">
                    <input type="number" id="Po2/P1" readonly />

                </div>
            </fieldset>
        </div>

        <!--Third Col-->
        <div>
            <!--Normal density ratio-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/rho2_rho1_icon.png' %}" alt="rho2/rho1" width="65" height="65">
                    <input type="number" id="d2/d1" readonly />

                </div>
            </fieldset>

            <!--Velocity difference-->
            <fieldset role="group">
                <div class="box center">

                    <img src="{% static 'calculator/media/theta_icon.png' %}" alt="theta" width="65" height="65">
                    <input type="number" id="theta" readonly />

                </div>
            </fieldset>
        </div>

    </div>

</main>

{% endblock %}